---
---

<section class="hero">
  <h1 class="business-name">GURUDEV IMPORTADOS</h1>
  <p class="tagline">Trayendo lo mejor a Argentina desde el 2004</p>
  <a href="https://gurudev11.com" class="client-area-button" target="_blank" rel="noopener noreferrer">Zona Clientes</a>
</section>

<style>
  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/background5_cropped.png');
    background-size: cover;
    background-position: center;
  }
  .business-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    animation: fadeIn 1s ease-in;
    margin-bottom: 1rem;
  
  }
  .tagline {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin-top: 0.1rem;
    animation: fadeIn 1s ease-in;
  
  }
  .client-area-button {
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #bd8b4196;
    color: #f8f8f8;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    transition: all 1.5s;
    box-shadow: 0 0 10px #e4af1c;
    animation: fadeIn 1.5s ease-in;
  }
  .client-area-button:hover {
    background-color: #0c8ad3;
    box-shadow: 0 0 20px #163b16;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @media (max-width: 768px) {
    .business-name {
      font-size: 2.5rem;
    }
    .tagline {
      font-size: 1rem;
    }
    .client-area-button {
      padding: 0.5rem 1rem;
    }
  }
</style>